.root {
	-fx-background-color: #FFFFFF;
}
#innerBtn {
    -fx-background-color: #58ACFA;
    -fx-border-color: #01A9DB;
    -fx-text-fill: #fff;
	-fx-font-family: "나눔바른펜";
	-fx-font-family: "NanumBarunpen";
    -fx-font-weight: bold;
    -fx-font-size: 15;
    -fx-border-radius: 30;
    -fx-background-radius: 30;
}
.button {
	-fx-font-family: "나눔바른펜";
	-fx-font-family: "NanumBarunpen";
    -fx-font-weight: bold;
    -fx-font-size: 14;
}
#innerBtn:pressed {
	-fx-background-color: #0080FF;
    -fx-border-color: #01A9DB;
    -fx-text-fill: #fff;
}
#quitBtn{
	-fx-background-color: #ff708a;
    -fx-border-color: #fc123c;
    -fx-text-fill: #000;
	-fx-font-family: "나눔바른펜";
	-fx-font-family: "NanumBarunpen";
    -fx-font-weight: bold;
    -fx-font-size: 15;
    -fx-border-radius: 30;
    -fx-background-radius: 30;
}
#quitBtn:pressed {
	-fx-background-color: #fc123c;
    -fx-border-color: #fc123c;
    -fx-text-fill: #fff;
}